{% extends 'base2.html' %}
{% block title %}Company list{% endblock %}
{% block content %}

    {#    <div style="display:inline-block; float: right">#}
    {#        <button onclick="history.back()" class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</button>#}
    {#    </div>#}

    {% if object_list %}
        {% for company in object_list %}
            <div class="alert-item alert-light" style="color: darkolivegreen">
                <div>
                    {{ forloop.counter }})
                    <strong>{{ company.name }}</strong><br>
                    {{ company.description }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
