{% extends 'base2.html' %}
{% block title %}Project list{% endblock %}
{% block content %}

    {#    <div style="display:inline-block; float: right">#}
    {#        <button onclick="history.back()" class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</button>#}
    {#    </div>#}
    {% if object_list %}
        {% for project in object_list %}
            <div class="alert-item alert-light" style="color: goldenrod">
                <div>
                    {{ forloop.counter }}) {{ project.name }}<br>
                    {{ project.description }}<br>
                    Przypisane zadania:<br>
                    {% for task in project.task_set.all %}
                        {{ forloop.counter }}) <a style="color: mediumpurple;"
                                                  href="{% url 'task_details' task.slug %}">{{ task.name }}</a><br>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
