{% extends 'base2.html' %}
{% block title %}Website list{% endblock %}
{% block content %}

    {#    <div style="display:inline-block; float: right">#}
    {#        <button onclick="history.back()" class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</button>#}
    {#    </div>#}

    {% if object_list %}
        {% for website in object_list %}
            <div class="alert-item alert-info" style="color: darkslateblue">
                <div>
                    {{ forloop.counter }})
                    <strong>{{ website.name }}</strong><br>
                    {{ website.description }}<br>
                    <a target="_blank" href="{{ website.link }}">{{ website.link }}</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
